@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --green:green;
    --black:#130f40;
    --light:#666;
    ---shadow:0.1rem  1rem  rgb(201, 191, 191);
    --border:  .2rem solid rgba(0,0,0,1);
    --outline:  .1rem solid rgba(0,0,0,1);


}


*{font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
transition: all .2s linear;

}

html{ font-size: 62.5%;

overflow-x: hidden;
scroll-behavior: smooth;
scroll-padding-top: 7rem;

}

body{ background-color: #fff;}

.header{    border:1px solid white;  display: flex; 

padding: 2rem 9%;
background: white;
box-shadow:  var(--box-shadow);
}  

 .header .logo{ font-size: 3rem;font-weight: 700;}

 .header .logo a{ color:red; font-family: 'Poppins', sans-serif;
font-weight: 700;}

 .header .navbar a{ font-size: 1.7rem;margin: 0 1rem;color:var(--black) ;  }

 .header .navbar a:hover{ color: var(--green);}



 .header .icons div{  border:px ; height: 4.5rem; width: 4.5rem;

    line-height: 4.5rem; border-radius: .5rem; background: #eee; color: var(--black);


font-size: 2rem; margin-right: .3rem;text-align: center; cursor: pointer;}

.header .icons div:hover { background-color: var(--green); color: white;  }

#menu-btn{ display: none;}


.header .navbar.active{ right: 2rem;transition: .4s linear;}

.header .search-form{position: absolute;top: 110%;right: -110%;width: 10rem;
    height: 5rem ;



background: white; border: 1px solid; border-radius: .5rem;


overflow: hidden; display: flex;align-items: center; box-shadow: var(--box-shadow);}


.header .search-form.active{right: 2rem; transform: .4s linear; width: 385px;height: 320px;background-color: white;


border-radius: 15px; box-shadow: rgba(0, 0, 0,0.06);}

.header .search-form input{  height: 100%;width: 100%; background: none;


text-transform: none;font-size: 1.6rem;color: var(--black);


padding:  0 1rem; position: absolute; top: -114px; left: 60px;}

.header .search-form label{ font-size: 2.2rem;padding-right: 1.5rem;



color: var(--black); cursor: pointer; position: relative;top:-114px; left:47px ;}


.header .search-form label:hover{ color: var(--green);}



.product{ display: flex; align-items: center;cursor: pointer;}



.product img{  width: 8rem;height: 5rem;object-fit: cover;border-radius: 5px; }

.product .p-details h3{  padding-left: 15px;}


.product .p-details h2{  font-size: 20px;color: #1d1d1d; }

.product .p-details h3{font-size: 18px;  }


.header .search-form a img {  width: 20px;}

.header .search-form{ width: 90%;  }















section{

padding: 2rem 9%;



} 


.home{  display: flex; justify-content: center; border: 1px solid; background: url()  no-repeat;



background-position:center ; background-size: cover; padding: 17rem; 


padding-bottom: 17rem;  }


.home .content {  text-align: center;  width: 60rem;}


.home .content h3{  color: var(--black); font-size: 3rem;}

.home .content h3 span{  color: var(--green); font-size: 3rem;}

.home .content p{  color: var(--light); font-size: 1.7rem; padding: 1rem 0 ;



line-height: 1.8;}



.home .content .btn {  border: 1px solid; padding: 0 2rem; border-radius: .5rem; background-color:var(--green); color: white;


font-size: 4rem;}


.home .content .btn:hover{  border: 1px solid; padding: 0 2rem; border-radius: .4rem; background-color:white; color: var(--green);}



.heading {

    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    border-bottom: 1px solid black;
    color: black;
   font-weight:600;
}


.heading span{ background: black; color: red; 

display: inline-block; padding: .5rem  3rem;


clip-path: polygon(100% 0, 93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);

font-weight: 700;
}


.features .read {  border: 1px solid; padding: 0 2rem; border-radius: .4rem; background-color:var(--green); color: white;


font-size: 2rem;  }

.features .read:hover{  border: 1px solid; padding: 0 2rem; border-radius: .4rem; background-color:white; color: var(--green);
font-size: 2rem;}


.features .box-container{   border: px solid;display: grid;


grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));

gap: 1.8rem; }
.features .box-container  .box{ border: 0px solid red;

    padding: 3REM 2REM; background-color: white;
outline: var(--outline);
outline-offset: -1rem;
text-align: center;

}
.features .box-container .box:hover{


    box-shadow: 1px 1px 10px 4px  var(--green);
}


.features .box-container .box img{   margin: 1rem 0;


height:15rem ;}

.features .box-container .box h3{  

    font-size: 2.5rem;
    line-height: 1.8rem;
    color: var(--black);
}


.features .box-container .box p{  

    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--light);

    padding-bottom:1rem 0 ;
}


/*products css */

.products .read:hover{  border: 1px solid; padding: 0 2rem; border-radius: .4rem; background-color:white; color: var(--green);}


.products .read{  border: 1px solid; padding: 0 2rem; border-radius: .4rem; background-color:green; color:white;}



.products .product-slider{


    border: 1px solid black;
    padding: 1rem;
}

.products .product-slider:first-child{ margin: 2rem;

}

.products .product-slider .box {

border: 1px solid black;
background: #fff; border-radius: .5rem;

text-align: center; padding: 3rem 2rem; outline-offset: -1rem; 

outline-color: var(--outline); box-shadow: var(--box-shadow);

transition: .4s linear;
}


.products .product-slider .box:hover{

    box-shadow: 1px 1px 10px 4px  var(--green);






}

.products .product-slider .box img { height: 20rem;}

.products .product-slider .box h1{ font-size: 2.5rem; color: var(--black);}


.products .product-slider .box  .price{


    font-size: 2rem;
    color: var(--light);padding:.5rem 0;

    
}


.products .product-slider .box  .price .stars i{


    font-size: 100rem;
    color: orange;padding:.5rem 0;

    
}
/*products*/



/*new testo ahmer de loma */

.products a{ color: white;  font-size: 3rem; display: flex;
   
 text-align: center; justify-content: space-around; border: 1px solid black;


background: green; border-radius: .4rem;}



.products a:hover{ color: green;  font-size: 3rem; display: flex;
   
    text-align: center; justify-content: space-around; border: 1px solid black;
   
   
   background: white; border-radius: .4rem;box-shadow: 1px 1px 10px 4px  var(--green);
   

}


   
   



.categories .box-container{   border: 1px solid white;display: grid;


    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    
    gap: 1.8rem; padding-top:4rem ;
padding-left:3rem ;
padding-right:3rem ;}

.categories .box-container .box{ border: 1px solid #fff;  border-radius: .5rem;

    padding:3rem 0;
    background: white;outline: green;
    outline-offset: -1rem;text-align: center;
}





.categories .box-container .box:hover{
    box-shadow: 1px 1px 10px 4px  red;    }

    .categories .box-container .box img{  


        margin: 0.5rem 0;
        height: 15rem;
    }



    
   
    .categories .box-container .box h3{  

font-size: 2rem; color: var(--black);


line-height: 1.8rem;
    }

    .categories .box-container  a
    {
        
     border: 1px solid; padding: 0.8rem 2rem; border-radius: .4rem; background-color:red; color: white;


        font-size: 2rem; 
    font-weight: 700; }
    .categories .box-container  .pubg
    {
        
     border: 1px solid; padding: 0.8rem 2rem; border-radius: .4rem; background-color:gray; color: white;


        font-size: 2rem; 
    font-weight: 700;}
    .categories .box-container  .soon
    {
        
     border: 1px solid ; padding: 0.8rem 2rem; border-radius: .4rem; background-color:gray; color:white ;


        font-size: 2rem; 
    font-weight: 700; }

    .categories .box-container .box p{  

        font-size: 1.5rem; color: black;padding: 1rem 0;
        padding-bottom: 1.5rem;
        font-weight: 500;
        
        
        line-height: 1.8rem;
            }



            .review a{      background-color:green; color:white;
            
            
            
            align-items: center; display: flex; justify-content: center;
        
        
        font-size: 3rem; border-radius: .4rem;  padding:2rem 0;}


        
        .review a:hover{      background-color:white; color:green;
            
            
            
            align-items: center; display: flex; justify-content: center;
        
        
        font-size: 3rem; border-radius: .4rem;  padding:1rem 0;}



        
        .tortorial a{      background-color:green; color:white;
            
            
            
            align-items: center; display: flex; justify-content: center;
        
        
        font-size: 3rem; border-radius: .4rem;  padding:1rem 20;}


        
        .tortorial a:hover{      background-color:white; color:green;
            
            
            
            align-items: center; display: flex; justify-content: center;
        
        
        font-size: 3rem; border-radius: .4rem;  padding:1rem 0;}
        


        .products .porol{ color: var(--black);  font-size: 4rem; background:#fff;
        
        
        text-align: center; display: flex; justify-content: center;
    
    
    box-shadow: var(--light);}


/*footer*/  



    .footer{   background-color: #fff;}


    

    .footer .box-container{  border-radius: 0px;
    
    
    
    display: grid;grid-template-columns: repeat(auto-fit, minmax(26rem,1fr));


gap: 1.5rem;}



.footer .box-container .box h3{  font-size: 2.5rem; color: var(--black);

padding: 1rem 0;}



.footer .box-container .box h3 i{    color: var(--green);



}


.footer .box-container .box .links{  display: block ; font-size: 1.5rem; color: var(--light);

    padding: 1rem 0;}

    .footer .box-container .box .links  i { color: var(--green); padding-right:.5rem;}
    


    .footer .box-container .box  .links:hover i{ color: var(--green); padding-right: 2rem;  }




    

.footer .box-container .box  p{  line-height: 1.8; font-size: 1.5rem; color: var(--light);

    padding: 1rem 0;}
    


    

    
    .footer .box-container .box    .share a {height: 4rem;width: 4rem;
    
    
    line-height: 4rem;border:  0px solid  black; border-radius: .5rem; font-size: 2rem
    ; margin-left:.2rem; color: var(--black);

margin-left: .2rem; background: #eee;text-align: center;}

.footer .box-container .box    .share a:hover{ 
    background: var(--green);
   } 



   .footer .credit{  text-align: center;
margin-top:2rem;
padding: 1rem;
padding-top: 2.5rem;
font-size: 2rem;
color: var(--black); border-top: var(--border);}

.footer .credit span{  color: var(--green); }






#preloader
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10000;
    overflow: hidden;
}



.preloader-logo
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
;
}

#layer-1
{
animation:animationOne -0.5s linear 0.8s infinite alternate;

}

#layer-2
{
    animation:animationTwo 0.8s linear 0.8s infinite alternate;
}

@keyframes animationOne
{
    0%
    {
        opacity: 100;
        fill: #ffffff;
    }
    100%
    {
        opacity: 0;
        fill: #000000;
    }
}
@keyframes animationTwo
{
    0%
    {
        opacity: 100;
        fill: #ffffff;
    }
    100%
    {
        opacity: 0;
        fill: #000000;
    }
}













/*media queries */

@media (max-width: 991px)
{
    html
    { font-size: 55%;

         
        }
        .header{

            padding: 2rem;
        }
        section{
            padding: 2rem ;
        }
    .header .logo
    {
        font-size: 5rem;
    }
}


@media (max-width: 450px)
{
    html
    { font-size: 40%;

         
        }
        .heading
        {
            font-size:5rem;
            padding-right: 2rem;
        }
        .footer{
            text-align: center;
        }
    .header .logo
    {
        font-size: 5rem;
    }
}



@media (max-width: 768px)
{
    #menu-btn{ display: inline-block;}
    .header .navbar{ position: absolute; top: 110%; right:-110% ; width: 30rem;border: solid 1px; background-color: #fff;
    
    
    border-radius: .5rem;}


  
    .header .navbar a{
        font-size: 2rem;
         margin: 2rem 2.5rem;
         display: block;
    }

    
}
